<div class="signIn">
	<div class="welcome">
		<div class="heart">
			<%= image_tag '/assets/logo_red.png' %>
		</div>
		<div class="heartfund">
			<%= image_tag '/assets/heartfund.png' %>
			<div class="clear"></div>
		</div>
	</div>
	<%= form_for(:session, url: sessions_path) do |f| %>
		<div class="field">
			<p>Email</p>
			<%= f.text_field :email, tabindex: 1 %>
		</div>
		<div class="field">
			<p>Password</p>
			<%= f.password_field :password, tabindex: 2, autocomplete: "off" %>
		</div>
		<div class="action">
			<%= f.submit "Sign in", tabindex: 3 %>
		</div>
	<% end %>
</div>