<%= content_for :head do %>
<script type="text/javascript" src="https://www.wepay.com/js/iframe.wepay.js"></script>
<% end %>
<div class="signIn">
	<div class="welcome">
		<div class="heart">
			<%= image_tag '/assets/logo_red.png' %>
		</div>
		<div class="heartfund">
			<%= image_tag '/assets/heartlauriedang.png' %>
			<div class="clear"></div>
		</div>
	</div>
	<div class="donateFormAmount">
		<%= form_tag(wepay_donate_path, remote: true) do %>
			<div class="field">
				<p>Donation Amount</p>
				<%= text_field_tag :amount, '', autocomplete: 'off' %>
			</div>
			<div class="action">
				<%= submit_tag 'Continue' %>
			</div>
		<% end %>
	</div>
</div>
<div class="donateForm"></div>