<div class="pendingComment">
	<div class="commentCreated">
		<%= comment.created_at.strftime('%b %d, %y - %I:%M %p') %>
	</div>
	<div class="pendingCommentName">
		<% if comment.name.blank? %>
			<p>Anonymous</p>
		<% else %>
			<p><%= comment.name %></p>
		<% end %>
	</div>
	<p><%= comment.content %></p>
	<div class="commentApprove">
		<% if comment.approved? %>
			<%= link_to 'Disapprove', disapprove_comment_path(comment) %>
		<% else %>
			<%= link_to 'Approve', approve_comment_path(comment) %>
		<% end %>
		| <%= link_to 'Delete', comment, method: :delete, confirm: 'Delete?' %>
	</div>
</div>