<div class="help">
	<h1>How I Can Help</h1>
	<ul>
		<li class="helpDonate">
			<div class="helpGroup">
				<h2>Donate</h2>
				<%= link_to image_tag('/assets/donate.png'), donate_path %>
				<p>You can really help Laurie by donating from the kindness of your heart. Anything you give will help in ways unimaginable.</p>
			</div>
		</li>
		<li class="groupArrow"><div><div></div></div></li>
		<li class="helpShare">
			<div class="helpGroup">
				<h2>Share</h2>
				<div class="helpImageContainer">
					<div class="facebook">
						<%= link_to("https://www.facebook.com/sharer/sharer.php?u=#{request.url.split(request.fullpath)[0]}", class: 'popup') do %>
							<%= image_tag '/assets/facebook.png' %>
						<% end %>
					</div>
					<div class="twitter">
						<%= link_to("https://twitter.com/intent/tweet?original_referer=&text=#{CGI.escape('Join in and help our beloved Laurie Dang')}%20#{@short.shorten(request.url.split(request.fullpath)[0]).shorturl}", class: 'popup') do %>
							<%= image_tag '/assets/twitter.png' %>
						<% end %>
					</div>
				</div>
				<p>Share this page and Laurie's story with your friends and family through word of mouth and social media.</p>
			</div>
		</li>
		<li class="groupArrow"><div><div></div></div></li>
		<li class="helpComment">
			<div class="helpGroup">
				<h2>Comment</h2>
				<%= link_to image_tag('/assets/comment.png'), '#' %>
				<p>Show Laurie your support and leave a comment wishing her the best, she would be thrilled to hear your voice.</p>
			</div>
		</li>
		<div class="clear"></div>
	</ul>
	<div class="helpArrow"></div>
	<div class="helpDonateButton">
		<%= render 'shared/donate_button' %>
	</div>
</div>
<div class="commentForm">
	<%= render 'comments/comment_form' %>
</div>