<%= render 'layouts/below_header' %>
<div class="mainContent">
	<div class="images">
		<div class="imagesContainer" id="cycle">
			<%= image_tag '/assets/laurie1.jpg' %>
			<%= image_tag '/assets/laurie2.jpg' %>
			<%= image_tag '/assets/laurie3.jpg' %>
			<%= image_tag '/assets/laurie4.jpg' %>
			<%= image_tag '/assets/laurie5.jpg' %>
		</div>
	</div>
	<div class="mainContentRight">
		<div class="shortInfo">
			<%= short_info %>
			<div class="readMore">
				<%= link_to 'Read more...', about_path %>
			</div>
		</div>
	</div>
	<div class="donateButton">
		<%= render 'shared/donate_button' %>
	</div>
	<div class="clear"></div>
	<%= render 'shared/help' %>
</div>